body {
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#minihead {
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
}
.split-container {
    display: flex;
}

.left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left {
    justify-content: right;
    background-color: white; /* Update with your preferred color */
    color: red; /* Update with your preferred text color */
    /* border-right: 3px solid rgb(30, 31, 33); Update with your preferred line color */
}

.right {
    justify-content: left;
    background-color: white; /* Update with your preferred color */
    color: blue; /* Update with your preferred text color */
    /* border-left: 3px solid rgb(30, 31, 33);  */
}

.left:hover, .right:hover {
    color: rgb(0, 255, 0);
    /* background-color: rgb(30, 31, 33); */
}

button{
    background-color: white;
    border:none;
    font-size: 50px;
    padding-top: 10px;
    padding-left: 20px;
    margin: 0;
}
button:hover{
    color: rgb(0, 255, 0);
    cursor: pointer;

}

.portfolio-item {
  border-top: 3px solid black;
    padding: 0px 0;
    margin: 0;
    display:none;
}

.project-section {
    border-top: 3px solid black;
    padding: 0px 0;
    margin: 0;
    display:none;
  }
  .project-name {
    display: inline-block;
    background-color: yellow;
    padding: 10px;
    font-size:xx-large;
    font-weight: bold;
  }
  .project-description {
    margin-top: 10px;
    padding:10px;
    font-size: 16px;
  }
  .project-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-media img {
    max-width: 100%;
    max-height: 80vh;
    margin: 10px 0;
  }
  .collapsible-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .collapsible-img img {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: -5px;
  }

  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  @media screen and (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
    .back-to-index {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 600px) {
    .project-name {
      font-size: 20px;
      padding: 11px;
    }
    .project-description {
      font-size: 16px;
    }
  }