.parent-container {
    position: relative;
    pointer-events: none;
    
}

.button-container {
    position: relative;
}

.button {
    position: relative; 
    pointer-events:auto; 
    width: 50px;
    height: 50px;
    border-radius: 25px;  
    background-color: transparent;
    border: 2px solid blue;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: blue; 
    transition: width 0.5s ease-in-out;
    cursor: pointer;
    border-width: 2.8px;

}

.parent-container:hover .button { /* change this */
    width: 140px; 
    border-radius: 30px;
    transition: width 0.5s ease-in-out;
}

.parent-container:hover .textbox { /* change this */
    opacity: 1; 
    visibility: visible;
}

.textbox {
    position: absolute;
    top: 0px;
    left: 45px;
    width: 140px;
    height: 50px;
    color: white;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border-radius: 25px;
    transition: opacity 0.5s ease-in-out; 
    visibility: hidden;
    font-family: 'Arial', sans-serif;
}

#pages-link{
    display:none;
    visibility: hidden;
}

.homebutton {
    pointer-events:auto; 
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: blue;
    display: flex; 
    align-items: center; 
    justify-content: center;
    color: white; 
    position: relative; 
}

.homebutton:hover {
    background-color: rgb(5, 5, 134);
      } 


#slideshow-container {
        width: 600px;
        height: 400px;
        margin: 0 auto;
        position: relative;
    }
#slideshow-image {
        width: 100%;
        height: 100%;
    }
#prev-button, #next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        padding: 10px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
#prev-button:hover, #next-button:hover {
        background-color: rgba(0,0,0,0.8);
      }

 #prev-button {
        left: 10px;
        background-color: rgba(91, 90, 90, 0.8);
    }
#next-button {
        right: 10px;
        background-color: rgba(91, 90, 90, 0.8);
    }
#caption-container {
        text-align: center;
    }
#caption-header, #caption-text {
        margin: 10px 0;
    }

#buttonimage1{
    position: absolute;
    top: -545px;
    left: -157px;
    height: 2350%;
    overflow: hidden;
    background-repeat: no-repeat;
    z-index: -1;
}

#about-me, #all-projects {
    text-decoration: none;
    color: black;        
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }

#about-projects {
    font-weight: normal;
    text-align: center;
}

#about-me:hover {
  color: red;
}

#all-projects:hover {
  color: #ffcc00;
}
